:root {
    --mainpink: #a63a50;
    --mainpurple: #b2a6ee;
    --mainbeige: #f0e7d8;
    --mainbrown: #a1674a;
    --burntpink: #ba6e6e
}

#main-header {
    background-color: var(--mainpink);
    padding: 10px;
}

#header-text {
    color: white;
}

