:root {
    --mainpink: #a63a50;
    --mainpurple: #b2a6ee;
    --mainbeige: #f0e7d8;
    --mainbrown: #a1674a;
    --burntpink: #ba6e6e;
}

#box{
    background:linear-gradient(var(--mainpink),transparent);
    background-color:var(--burntpink);
    padding: 10px;
  }

#profile-picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

#information {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 15px;
}

#name {
    font-size: 50px;
    font-family: 'Playfair Display SC', serif;
    font-weight: bold;
}

.contact {
    font-size: 30px;
    font-family: 'Farsan', cursive;
}

.email {
    color: rgb(39, 38, 38);
    font-size: 30px;
    font-family: 'Farsan', cursive;
}

.email:hover {
    color: var(--burntpink)
}

#intro-text {
    font-size: 30px;
    font-family: 'Farsan', cursive;
    display: flex;
    flex-wrap: wrap;

}

#intro-section {
    display: flex;
    flex-wrap: wrap;
    width: 0;
    min-width:fit-content;
    text-align: center;
    color: var(--mainpurple)
}

.titles {
    font-family: 'Playfair Display SC', serif;
    font-size: 40px;
    text-align: center;
    margin-top: 25px;
}

#prof-section {
    display: flex;
    flex-direction: column;
}

#list-section {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Farsan', cursive;
    font-size: 30px;
}

.profs {
    list-style: none;
    padding: 5px;
    border-bottom: var(--mainbrown) 1px solid;
    color: var(--mainpurple)
}

#currently-section {
    width: 0;
    min-width:fit-content;
    color: var(--mainpurple);
    font-family: 'Farsan', cursive;
    font-size: 25px;
}

#prof-list {
    display: flex;
    flex-direction: column;
}