:root {
    --mainpink: #a63a50;
    --mainpurple: #b2a6ee;
    --mainbeige: #f0e7d8;
    --mainbrown: #a1674a;
    --burntpink: #ba6e6e
}

#main-footer {
    background-color: var(--mainpink);
    padding: 5px;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
  }

#links {
    display: flex;
    justify-content: space-evenly;
}

#icons {
    height:50px;
    width: 50px;
}

a {
    text-decoration: none;
    color: white;
}