:root {
    --mainpink: #a63a50;
    --mainpurple: #b2a6ee;
    --mainbeige: #f0e7d8;
    --mainbrown: #a1674a;
    --burntpink: #ba6e6e;
}

#box{
    background:linear-gradient(var(--mainpink),transparent);
    background-color:var(--burntpink);
    padding: 10px;
}

#parks-stuff {
    width: 0;
    max-width: fit-content;
    display: flex;
    align-items: center;
    padding: 10px; 
}

#fun-intro-text {
    color: var(--mainbeige);
    font-family: 'Farsan', cursive;
    font-size: 30px;
    text-align: center;
}

@media screen and (max-width: 1333px) {
    #row {
      display: flex;
      flex-direction: column;
    }

    #parks-stuff {
        width:fit-content
    }

    #image {
        align-self: center;
    }
  }